body {
    background-image: url(http://www.joshushund.com/terragen_01-06/battlefield.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    width: 20%;
    height: 10%;
    margin: 10px auto;
    font-size:20;
}

#heart {
    position: relative;
    float: left;
    left: 50%;
    z-index:100;
}

#start {
    position: relative;
    text-align: center;
    width: 100%;
    top: 110px;
}

#frontguy {
    width: 800px;
}

#otherfrontguy {
    position: absolute;
    width: 800px;
    right: 10%;
    bottom: 0px;
}